appdirs==1.4.4
asgiref==3.3.4
autopep8==1.5.7
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
Django==2.2.25
filelock==3.0.12
gcloud==0.18.3
googleapis-common-protos==1.53.0
gunicorn==20.1.0
httplib2==0.19.1
idna==2.10
jws==0.1.3
nsepython==0.0.94
numpy==1.20.2
oauth2client==4.1.3
pandas==1.2.4
protobuf==3.16.0rc1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycryptodome==3.10.1
pyparsing==2.4.7
Pyrebase==3.0.27
Pyrebase4==4.4.3
python-dateutil==2.8.1
python-dotenv==0.17.1
python-jwt==2.0.1
pytz==2021.1
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7.2
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.4
flask
flask_session
werkzeug
datetime
nsetools==1.0.11
yfinance
