{% extends "crypto-layout.html" %} {% block title %} Portfolio {% endblock %} {%
block main %}

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script
    type="text/javascript"
    src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
    async
  >
      {
      "symbols": [
        {
          "proName": "BITSTAMP:BTCUSD",
          "title": "BTC/USD"
        },
        {
          "proName": "BITSTAMP:ETHUSD",
          "title": "ETH/USD"
        },
        {
          "description": "DOGE/USD",
          "proName": "BITFINEX:DOGEUSD"
        },
        {
          "description": "MATIC/USD",
          "proName": "COINBASE:MATICUSD"
        },
        {
          "description": "XRP/USD",
          "proName": "BITFINEX:XRPUSD"
        },
        {
          "description": "SHIBA/USD",
          "proName": "FTX:SHIBUSD"
        },
        {
          "description": "ADA/USD",
          "proName": "KRAKEN:ADAUSD"
        },
        {
          "description": "DOT/USD",
          "proName": "HUOBI:DOTUSDT"
        },
        {
          "description": "VET/USD",
          "proName": "BITFINEX:VETUSD"
        },
        {
          "description": "BNB/USD",
          "proName": "BINANCE:BNBUSD"
        },
        {
          "description": "ETC/USD",
          "proName": "KRAKEN:ETCUSD"
        }
      ],
      "showSymbolLogo": true,
      "colorTheme": "light",
      "isTransparent": false,
      "displayMode": "adaptive",
      "locale": "in"
    }
  </script>
</div>
<!-- TradingView Widget END -->
<div class="container" style="padding-top: 20px">
  <!---------------------CAROUSAL---------------------------------->
  <div class="carousel" style="background-color: azure; margin-top: 20px">
    <div id="cslide" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <ol class="carousel-indicators" style="bottom: -20px">
          <li data-target="#cslide" data-slide-to="0" class="active"></li>
          <li data-target="#cslide" data-slide-to="1"></li>
          <li data-target="#cslide" data-slide-to="2"></li>
        </ol>

        <div class="carousel-item active text-center p-4">
          <h5>
            <a
              target="_blank"
              href="https://techcrunch.com/2021/11/21/congress-must-clarify-how-the-infrastructure-bill-will-impact-cryptocurrency/"
              class="stretched-link"
              style="color: black; text-decoration: none"
            >
              Congress must clarify how the infrastructure bill will impact cryptocurrency
            </a>
          </h5>
          <p>
            The $1 trillion U.S. infrastructure bill, signed into law by President Joe Biden last week, contains provisions that would tax cryptocurrency trades and yield the U.S. government some $2.8 billion a year
          </p>
        </div>

        <div class="carousel-item text-center p-4">
          <h5>
            <a
              target="_blank"
              href="https://www.financialexpress.com/market/amid-global-crypto-fall-this-altcoin-jumped-over-50-in-mcap-to-surpass-shiba-inu/2373212/"
              class="stretched-link"
              style="color: black; text-decoration: none"
            >
              Amid global crypto fall, this altcoin jumped over 50% in mcap to surpass Shiba Inu
            </a>
          </h5>
          <p>
            Even as the crypto world witnessed turbulence in the past nearly two weeks with over $300 billion lost in market value, Avax – the native token of smart contract blockchain platform Avalanche has been a big outlier.
        </div>

        <div class="carousel-item text-center p-4">
          <h5>
            <a
              target="_blank"
              href="https://www.financialexpress.com/economy/government-to-change-tax-laws-in-budget-to-tax-cryptocurrency-gains/2372449/"
              class="stretched-link"
              style="color: black; text-decoration: none"
            >
              Government to change tax laws in Budget to tax cryptocurrency gains
            </a>
          </h5>
          <p>
            Revenue Secretary Tarun Bajaj said that in terms of income tax, some people are already paying capital gains tax on the income from cryptocurrency, and in respect of Goods and Services Tax (GST) also the law is "very clear" that the rate would be applicable as those in case of other services.
          </p>
        </div>
      </div>
      <a
        target="_blank"
        class="carousel-control-prev"
        href="#cslide"
        role="button"
        data-slide="prev"
        style="left: -65px"
      >
        <span class="fas fa-chevron-circle-left fa-x" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        target="_blank"
        class="carousel-control-next"
        href="#cslide"
        role="button"
        data-slide="next"
        style="right: -70px"
      >
        <span
          class="fas fa-chevron-circle-right fa-x"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-----------------------CAROUSAL END---------------------------------->

  <!-------------------------NEWS-------------------------------->
  <p></p>
  <h2
    style="
      text-align: center;
      margin-bottom: 20px;
      font-family: OpenSans-SemiBold;
    "
  >
    TOP STORIES
  </h2>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="TechCrunch"
      src="https://techcrunch.com/wp-content/uploads/2013/10/techcrunch-logo1.png"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://techcrunch.com/2021/11/19/as-crypto-unicorns-multiply-the-us-stands-out-as-ground-zero-for-blockchain-winners/"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          As crypto unicorns multiply, the US stands out as ground zero for blockchain winners
        </a>
      </h5>
      <p>
        The market for crypto-focused investing is growing rapidly. News that Paradigm put together a $2.5 billion fund the other day is a reminder of the scale of funds now available to startups looking to build on the blockchain. Andreessen Horowitz has a mega-fund in the market as well, while Coinbase Ventures is setting a blistering pace for a corporate venture firm.
      </p>
    </div>
  </div>
  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="MoneyControl"
      src="https://static.coindesk.com/wp-content/uploads/2020/09/coindesk-og-image-default-1200x600.png"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://www.moneycontrol.com/news/business/cryptocurrency/cryptocurrency-prices-today-on-november-21-bitcoin-ethereum-gain-as-solana-falls-7743741.html"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Cryptocurrency prices today on November 21: Bitcoin, Ethereum gain as Solana falls
        </a>
      </h5>
      <p>
        The global cryptocurrency capitalization surged marginally by 0.55 percent to $2.63 trillion, as Bitcoin, Ethereum sprouted small shoots of green, while Solana, Polkadot and Dogecoin fell slightly. Per market reports, Bitcoin lost almost 20 percent in less than 15 days. 
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="EconomicTimes"
      src="https://images.saymedia-content.com/.image/t_share/MTc0NDcxNDQ1OTYyMTA2NTAy/how-to-begin-investing-in-crypto.png"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://economictimes.indiatimes.com/markets/cryptocurrency/coin-worth-0-00004893-highlights-cryptos-wild-decimal-frontier/articleshow/87828363.cms"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Coin worth $0.00004893 highlights crypto’s wild decimal frontier
        </a>
      </h5>
      <p>
        Shiba Inu cost just $0.00004893 or so each on Friday afternoon, while Dogecoin fetched less than 1 cent early this year. A Bitcoin can be sliced into a satoshi, which is this much of the coin: 0.00000001. Then there is the weirdest of all: the wei. That’s one quintillionth of an Ether, or 0.000000000000000001.
      </p>
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="EconomicTimes"
      src="https://images-na.ssl-images-amazon.com/images/I/610xV0rT8kL._AC_UL600_SR600,600_.png"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://economictimes.indiatimes.com/news/economy/policy/rbi-tells-lenders-to-re-consider-ties-with-crypto-exchanges-traders/articleshow/82602081.cms"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          RBI tells lenders to re-consider ties with crypto exchanges, traders
        </a>
      </h5>
      <p>
        The guidance comes as India is crafting a law to ban cryptocurrencies
        and penalize anyone dealing in them, which would be among the most
        sweeping crackdowns on the new investing fad in the world.
      </p>
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="LiveMint"
      src="https://pbs.twimg.com/profile_images/1303221636745760768/jhoXTzaw.jpg"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://www.livemint.com/opinion/online-views/preempt-the-economic-risks-of-crypto-adoption-11637508390044.html"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Pre-empt the economic risks of crypto adoption
        </a>
      </h5>
      <p>
       Our policy on digital currencies should be guided by an analysis of a potential wide-usage scenario in India. An RBI-run digital rupee may well be our best bet to minimize instability.
      </p>
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="LiveMint"
      src="https://sc.cnbcfm.com/applications/cnbc.com/staticcontent/img/cnbc_logo.gif?v=1524171804"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://www.cnbctv18.com/cryptocurrency/el-salvador-to-build-bitcoin-city-herere-details-11542722.htm"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          El Salvador to build Bitcoin City; here're details
        </a>
      </h5>
      <p>
        El Salvador President Nayib Bukele has announced that his government will build an oceanside Bitcoin City at the base of a volcano. The city planned in the eastern region of La Union reportedly would get geothermal power from a volcano and not levy any taxes except value-added tax (VAT).
      </p>
    </div>
  </div>
</div>
{% endblock %}
