{% extends "stock-layout.html" %} {% block title %} Portfolio {% endblock %} {%
block main %}

<!------------------------- STOCK TICKER ---------------------------->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script
    type="text/javascript"
    src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
    async
  >
    {
    "symbols": [
      {
        "description": "",
        "proName": "BSE:HDFC"
      },
      {
        "description": "",
        "proName": "BSE:ICICIBANK"
      },
      {
        "description": "INFOSYS",
        "proName": "BSE:INFY"
      },
      {
        "description": "KOTAK MAHINDRA",
        "proName": "BSE:KOTAKBANK"
      },
      {
        "description": "",
        "proName": "BSE:BHARTIARTL"
      },
      {
        "description": "",
        "proName": "BSE:SENSEX"
      },
      {
        "description": "",
        "proName": "BSE:NTPC"
      },
      {
        "description": "",
        "proName": "BSE:ONGC"
      },
      {
        "description": "",
        "proName": "BSE:RELIANCE"
      },
      {
        "description": "SBI",
        "proName": "BSE:SBIN"
      },
      {
        "description": "",
        "proName": "BSE:TATASTEEL"
      },
      {
        "description": "",
        "proName": "BSE:TCS"
      },
      {
        "description": "",
        "proName": "BSE:TITAN"
      }
        ],
        "colorTheme": "light",
        "isTransparent": true,
        "displayMode": "adaptive",
        "locale": "in"
    }
  </script>
</div>
<!------------------------- STOCK TICKER END --------------------->

<div class="container" style="padding-top: 20px">
  <!---------------------CAROUSAL---------------------------------->
  <div class="carousel" style="background-color: azure; margin-top: 20px">
    <div id="cslide" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <ol class="carousel-indicators" style="bottom: -20px">
          <li data-target="#cslide" data-slide-to="0" class="active"></li>
          <li data-target="#cslide" data-slide-to="1"></li>
          <li data-target="#cslide" data-slide-to="2"></li>
        </ol>

        <div class="carousel-item active text-center p-4">
          <h5>
            <a
              target="_blank"
              href="https://www.livemint.com/market/stock-market-news/zomato-irctc-tata-power-could-move-to-largecap-stocks-category-in-amfi-review-11637034205052.html"
              class="stretched-link"
              style="color: black; text-decoration: none"
            >
              Zomato, IRCTC stocks could move to largecap category in AMFI review
            </a>
          </h5>
          <p>
            Indian Railway Catering and Tourism Corporation (IRCTC), Mphasis, MindTree, Godrej Properties, Tata Power, PI Industries and SRF LTD are among the stocks that could possibly move from midcaps to largecap category in AMFI review, as per brokerage and research firm Edelweiss. 
          </p>
        </div>

        <div class="carousel-item text-center p-4">
          <h5>
            <a
              target="_blank"
              href="https://economictimes.indiatimes.com/markets/stocks/news/ril-debt-free-aramco-deal-rethink-to-have-a-limited-impact-analysts/articleshow/87838816.cms"
              class="stretched-link"
              style="color: black; text-decoration: none"
            >
              RIL debt-free, Aramco deal rethink to have a limited impact: Analysts
            </a>
          </h5>
          <p>
            Shares of Reliance Industries could be weighed down by the scrapping of its proposed stake sale deal with Saudi Aramco but any weakness is likely to be limited as analysts believe the company has no need to raise cash in a hurry....
          </p>
        </div>

        <div class="carousel-item text-center p-4">
          <h5>
            <a
              target="_blank"
              href="https://www.livemint.com/market/stock-market-news/multibagger-stock-ramkrishna-forgings-surges-150-this-year-emkay-sees-over-28-upside-11633919399195.html"
              class="stretched-link"
              style="color: black; text-decoration: none"
            >
              This multibagger stock is up 150% this year. Emkay sees over 28% upside
            </a>
          </h5>
          <p>
            Ramkrishna Forgings is among India's largest manufacturer and exporter of CV forgings. The brokerage believes RMKF is a play on CV upcycle in domestic and overseas markets....
          </p>
        </div>
      </div>
      <a
        target="_blank"
        class="carousel-control-prev"
        href="#cslide"
        role="button"
        data-slide="prev"
        style="left: -65px"
      >
        <span class="fas fa-chevron-circle-left fa-x" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        target="_blank"
        class="carousel-control-next"
        href="#cslide"
        role="button"
        data-slide="next"
        style="right: -70px"
      >
        <span
          class="fas fa-chevron-circle-right fa-x"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-----------------------CAROUSAL END---------------------------------->

  <!-------------------------NEWS-------------------------------->
  <p></p>
  <h2
    style="
      text-align: center;
      margin-bottom: 20px;
      font-family: OpenSans-SemiBold;
    "
  >
    TOP STORIES
  </h2>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="MoneyControl"
      src="https://images.moneycontrol.com/images/common/header/logo.png?v=0.2&impolicy=mchigh"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://www.moneycontrol.com/news/business/markets/share-market-live-updates-stock-market-today-november-22-latest-news-bse-nse-sensex-nifty-covid-coronavirus-zensar-tech-havells-motherson-sumi-sagar-cements-irctc-cadila-healthcare-kesoram-industries-7745521.html"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Market LIVE Updates: Nifty around 17,600, Sensex falls over 400 pts; realty, auto, oil & gas drag
        </a>
      </h5>
      <p>
        All the sectoral indices are trading in the red with auto, oil & gas, PSU bank and realty down 1 percent each. BSE Midcap and Smallcap indices also down 1 percent each.
        ...
      </p>
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="EconomicTimes"
      src="https://images-na.ssl-images-amazon.com/images/I/610xV0rT8kL._AC_UL600_SR600,600_.png"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://economictimes.indiatimes.com/markets/stocks/news/stocks-in-the-news-paytm-latent-view-reliance-ind-sun-pharma-irb-infra-and-laurus-labs/articleshow/87839323.cms"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Stocks in the news: Paytm, Latent View, Reliance Ind, Sun Pharma, IRB Infra and Laurus Labs
        </a>
      </h5>
      <p>
        Paytm: The company, which got listed on domestic bourses last week, said its gross merchandise value — or payments made to merchants through its platform — jumped 131 per cent to $11.2 billion last month from a year earlier.
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="EconomicTimes"
      src="https://images-na.ssl-images-amazon.com/images/I/610xV0rT8kL._AC_UL600_SR600,600_.png"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://www.livemint.com/market/stock-market-news/rakesh-jhunjhunwala-portfolio-experts-give-buy-tag-to-this-multibagger-stock-11637550144816.html"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Rakesh Jhunjhunwala portfolio: Experts give 'buy' tag to this multibagger stock
        </a>
      </h5>
      <p>
        Rakesh Jhunjhunwala portfolio: Canara Bank shares are one of the multibagger stocks in 2021 as it has given near 135 per cent return to its shareholders in last one year.
      </p>
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="LiveMint"
      src="https://pbs.twimg.com/profile_images/1303221636745760768/jhoXTzaw.jpg"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://economictimes.indiatimes.com/markets/ipos/fpos/vijay-shekhar-sharmas-obsession-on-creating-a-record-for-paytm-ipo-led-to-a-bad-day-1/articleshow/87793851.cms"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Vijay Shekhar Sharma's obsession with creating a record for Paytm IPO led to a bad Day 1
      </h5>
      <p>
        By 11 a.m., Sharma’s long-anticipated coming out party had turned into one of the worst opening days for a blockbuster tech listing since the dot-com bubble. The stock’s 27% plunge surprised even some Paytm pessimists, casting doubt on a record-breaking run for Indian equities and leaving Sharma -- and his underwriters -- to face tough questions about what went wrong with the $2.5 billion fundraising.
      </p>
    </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
    <img
      alt="LiveMint"
      src="https://sc.cnbcfm.com/applications/cnbc.com/staticcontent/img/cnbc_logo.gif?v=1524171804"
      width="75"
      height="50"
      class="mr-3"
    />
    <div class="media-body">
      <h5>
        <a
          target="_blank"
          href="https://www.livemint.com/market/ipo/latent-view-analytics-ipo-listing-date-and-what-gmp-signals-11637552496083.html"
          class="stretched-link"
          style="color: black; text-decoration: none"
        >
          Latent View Analytics IPO: Listing date and what GMP signals
        </a>
      </h5>
      <p>
        Latent View Analytics IPO GMP today is ₹360, which means grey market is expecting that Latent View Analytics IPO listing would be around ₹557 ( ₹197 + ₹350), market observers believe
      </p>
    </div>
  </div>
</div>
{% endblock %}
